body {
    background: #d7842c
}

div {
    text-align: center;
}

.questionNum {
    text-align: center;
    font-size: 65px;
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
    margin-top: 200px;
}

.question {
    text-align: center;
    font-size: 55px;
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
    margin-top: 100px;
}

.image {
    text-align: center;
    font-size: 55px;
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
    margin-top: 100px;
}


button {
    width: 800px; /* Set the width you want */
    height: 120px; /* Set the height you want */
    margin: 40px;
    padding: 10px 20px;
    font-size: 50px;
    font-family: 'Alfa Slab One', cursive;
    cursor: pointer;
    background-color: #fff;
    color: #757575;
    border: none;
    border-radius: 40px;
    outline: none;
    transition: background-color 0.3s ease;
    box-shadow: 0px 20px 6px rgba(0, 0, 0, 0.1);
}
.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
