body {
    background: #d7842c
}

div {
    text-align: center;
}

.questionNum {
    text-align: center;
    font-size: 65px;
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
    margin-top: 100px;
}

.question {
    text-align: center;
    font-size: 55px;
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
    margin-top: 100px;
}

.image {
    text-align: center;
    font-size: 55px;
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
    margin-top: 100px;
}


button {
    width: 800px; /* Set the width you want */
    height: 120px; /* Set the height you want */
    margin: 40px;
    padding: 10px 20px;
    font-size: 50px;
    font-family: 'Alfa Slab One', cursive;
    cursor: pointer;
    background-color: #fff;
    color: #757575;
    border: none;
    border-radius: 40px;
    outline: none;
    transition: background-color 0.3s ease;
    box-shadow: 0px 20px 6px rgba(0, 0, 0, 0.1);
}
.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback {
    font-family: 'Alfa Slab One', cursive;
    color: red;
    font-size: 50px;
    margin-top: 20px;
  }


#hintButton {
    position: fixed;
    bottom: 70px;
    left: 45%;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    display: inline-block;
  }


#hintButton img {
    width: 120px;
    height: 120px;
  }

.hint {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }


.hint-popup {
  display: none; /* Hide the pop-up by default */
  position: fixed;
  bottom: 100px; /* Adjust the distance from the bottom as needed */
  left: 50%; /* Center the pop-up horizontally */
  transform: translateX(-50%); /* Center the pop-up horizontally */
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 5px;
    z-index: 9999;
}

.hint-content {
  text-align: center;
    font-family: 'Alfa Slab One', cursive;
    color: black;
    font-size: 50px;
    margin-top: 20px;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 50px;
  cursor: pointer;
}