<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Congratulation</title>
    <meta name="viewport" content="user-scalable=no">
    <link rel="stylesheet" href="/static/congratulation.css" />
    <link rel="stylesheet" href="/static/floatingBtn.css" />
    <script src="https://kit.fontawesome.com/91b8ae4c68.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat&display=swap" rel="stylesheet">

    <script>
        var artifactObj = JSON.parse('{{ artifact | tojson | safe }}');
        function info() {
            var form = document.createElement('form');
            form.action = '/artifactInfo/' + artifactObj.name;
            form.method = 'GET';
            document.body.appendChild(form);
            form.submit();
        }
        function nextRound() {
            var form = document.createElement('form');
            form.action = '/spinning';
            form.method = 'GET';
            document.body.appendChild(form);
            form.submit();
        }
        function basket() {
            var form = document.createElement('form');
            var loggedIn = '{{ loggedIn|lower }}';
            if(loggedIn) {
                form.action = '/collections';
            } else {
                form.action = '/basket';
            }
            form.method = 'GET';
            document.body.appendChild(form);
            form.submit();
        }

        function generateStarRating(rating) {
            const maxRating = 5;
            const fullStar = '<i style="color: #c4a64a;" class="fa fa-star"></i>';
            const halfStar = '<i style="color: #c4a64a;"  class="fa fa-star-half-o"></i>';
            const emptyStar = '<i style="color: #c4a64a;"  class="fa fa-star-o"></i>';

            const fullStars = Math.floor(rating);
            const hasHalfStar = rating % 1 !== 0;

            let starRatingHtml = fullStar.repeat(fullStars);

            if (hasHalfStar) {
                starRatingHtml += halfStar;
            }

            starRatingHtml += emptyStar.repeat(maxRating - fullStars - (hasHalfStar ? 1 : 0));
            return starRatingHtml;
        }

        document.addEventListener('DOMContentLoaded', function() {
            var html = generateStarRating(artifactObj.rarity);
            const rarityDiv = document.getElementById('rarity');
            console.log(html);
            rarityDiv.innerHTML = html;

            startConfetti();
        });

        function startConfetti() {
            const confettiContainer = document.getElementById('confettiContainer');
            confettiContainer.innerHTML = ''; // Clear previous confetti (if any)

            const confettiCount = 100; // Number of confetti pieces
            const confettiDuration = 3000; // Duration of the confetti display in milliseconds (5 seconds)

            for (let i = 0; i < confettiCount; i++) {
                const confettiPiece = document.createElement('div');
                confettiPiece.classList.add('confetti');
                confettiPiece.style.backgroundColor = getRandomColor();
                confettiPiece.style.left = `${Math.random() * 100}%`;
                confettiPiece.style.animationDuration = `${Math.random() * 2 + 1}s`;
                confettiContainer.appendChild(confettiPiece);
            }

            // Remove confetti after the specified duration
            setTimeout(() => {
                confettiContainer.innerHTML = '';
            }, confettiDuration);
        }

        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    </script>
</head>

<body>
    <div class="confetti-container" id="confettiContainer"></div>
    <div class="whitebox">
        <div class="congrats">
            Congratulations
        </div>
        <div class="received">
            You received
        </div>
        <div class="name">
            {{ artifact.name }}
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename=artifact.img) }}" alt="{{ artifact.name }}">
        </div>
        <div id="rarity" class="image-stars">
            <!-- <img src="../static/4.5-stars-1.png" alt="Rarity" width="700px"> -->
        </div>

        <div class="button-container">
            <button class="button-info" onclick="info()">Information</button>
        </div>

    </div>

    <div class="button-container-2">
        <button class="button" onclick="nextRound()">Next Round</button>
        <button class="button" onclick="basket()">Basket</button>
    </div>

    <a href="/home" class="floating-btn">
        <img src="../static/homelogo.png" alt="Home">
    </a>
    <!-- <script src="./app.js"></script> -->
</body>

</html>