<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <title>Home</title>

        <style>
            .centered-image {
                display: block;
                margin: auto;
            }
        </style>

        <script>
            function profileClicked() {
                var form = document.getElementById("profileForm");
                form.submit();
            }

            function collectionClicked() {
                var form = document.getElementById("collectionsForm");
                form.submit();
            }

            function playClicked() {
                var form = document.getElementById("playForm");
                form.submit();
            }
        </script>
    </head>

    <body style="background-color: #D6842C;">
        ajvsibldvbajlsiavjblsd
        <div style="text-align: right;">
            <img src="{{ url_for('static', filename='home_profile.png') }}" 
                alt="Profile" width="50" height="50" onclick="profileClicked()">
        </div>
        <br /><br /><br />
        <div>
            <img class="centered-image" src="{{ url_for('static', filename='home_collection.png') }}" 
                alt="Collection" width="250" height="200" onclick="collectionClicked()">
        </div>
        <br /><br />
        <div>
            <img class="centered-image" src="{{ url_for('static', filename='home_play.png') }}" 
                alt="Play" width="180" height="200" onclick="playClicked()">
        </div>

        <form id="profileForm" method="GET" action="/profile"></form>
        <form id="collectionsForm" method="GET" action="/collections"></form>
        <form id="playForm" method="GET" action="/start"></form>
    </body>

</html>