<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <title>Collection</title>
    <link rel="stylesheet" href="/static/loginCollection.css" />
    <link rel="stylesheet" href="/static/floatingBtn.css" />
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Angkor&family=Montserrat&display=swap"
        rel="stylesheet">

    <style>
        #mysteryArtifactToast {
            position: fixed;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            border-radius: 8px;
            font-size: 40px;
            text-align: center;
            font-family: 'Angkor', cursive;
            min-width: 500px;
        }

        .hide {
            display: none;
        }
    
        .show {
            display: block;
            animation: fadeOut 3s ease-in-out;
        }
    
        @keyframes fadeOut {
            0% {
                opacity: 1;
            }
    
            100% {
                opacity: 0;
            }
        }
    </style>
    <script>
        function artifactInfo(name) {
            var form = document.createElement('form');
            form.action = '/artifactInfo/' + name;
            form.method = 'GET';
            document.body.appendChild(form);
            form.submit();
        }

        function imageClickHandler(event) {
            const toast = document.getElementById('mysteryArtifactToast');
            toast.classList.remove('hide');
            toast.classList.add('show');
            setTimeout(function () {
                toast.classList.remove('show');
                toast.classList.add('hide');
            }, 3000);
        }
        
        document.addEventListener('DOMContentLoaded', function() {
            const images = document.querySelectorAll('img[src="../static/questionmark.png"]');
            images.forEach((image) => {
                image.addEventListener('click', imageClickHandler);
            });
        });
    </script>
</head>

<body>

    <div class="banner-div">
        <img src="../static/collectionBanner.png" alt="" width="4000px">
    </div>

    <div class="collection-cat">
        <p class="title">Archaeology, World Culture and Historical</p>
        <div class="row">
            <div class="gray-box">
                {% if "Lady Shepenhor" in collection %}
                <img onclick="artifactInfo('Lady Shepenhor')" src="../static/mummyphoto.png" alt="">
                {% else %}
                <img src="../static/questionmark.png" alt="">
                {% endif %}
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
    </div>
    <div class="collection-cat">
        <p class="title">Coin and Medal</p>
        <div class="row">
            <div class="gray-box">
                {% if "Cleopatra Coin" in collection %}
                <img onclick="artifactInfo('Cleopatra Coin')" src="../static/coinphoto.png" alt="">
                {% else %}
                <img src="../static/questionmark.png" alt="">
                {% endif %}
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
    </div>
    <div class="collection-cat">
        <p class="title">Dinosaur and Fossil</p>
        <div class="row">
            <div class="gray-box">
                {% if "Bearsden Shark" in collection %}
                <img onclick="artifactInfo('Bearsden Shark')" src="../static/sharkphoto.png" alt="">
                {% else %}
                <img src="../static/questionmark.png" alt="">
                {% endif %}
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
    </div>

    <a href="/home" class="floating-btn">
        <img src="../static/homelogo.png" alt="Home">
    </a>

    <div id="mysteryArtifactToast" class="hide">You have not unlocked this artifact</div>
    <!-- <script src="./app.js"></script> -->
</body>

</html>