<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="/static/floatingBtn.css" />
    </head>
    <body>
        <div class="image-container">
            <img src="{{ url_for('static', filename='hunter.png') }}" alt="Hunter Image">
        </div>
        <img src="{{ url_for('static', filename='williams_collection_text.png') }}" alt="Logo" class="logo">
        <form method="POST" action="/login">
            <div class="input-container">
                <label for="email">Email</label>
                <input type="email" name="email" id="email"  required>
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input type="password" name="password" id="password"  required>
            </div>
            <button type="submit">Login</button>
           
            <div class="signup-text">
                Don't have an account? <a href="/register">Sign Up</a>
            </div>
        </form>

        {% if error %}
            <p class="errMsg" style="color: red;">{{ error }}</p>
        {% endif %}

        <a href="/home" class="floating-btn">
            <img src="../static/homelogo.png" alt="Home">
        </a>
    </body>
</html>

