<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Collection</title>
    <link rel="stylesheet" href="/static/loginCollection.css" />
    <link rel="stylesheet" href="/static/floatingBtn.css" />
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Angkor&family=Montserrat&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="banner-div">
        <img src="../static/collectionBanner.png" alt="" width="4000px">
    </div>

    <div class="collection-cat">
        <p class="title">Archaeology, World Culture and Historical</p>
        <div class="row">
            <div class="gray-box">
                {% if "Lady Shepenhor" in collection %}
                <img src="../static/mummyphoto.png" alt="">
                {% else %}
                <img src="../static/questionmark.png" alt="">
                {% endif %}
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
    </div>
    <div class="collection-cat">
        <p class="title">Coin and Medal</p>
        <div class="row">
            <div class="gray-box">
                {% if "Cleopatra Coin" in collection %}
                <img src="../static/coinphoto.png" alt="">
                {% else %}
                <img src="../static/questionmark.png" alt="">
                {% endif %}
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
    </div>
    <div class="collection-cat">
        <p class="title">Dinosaur and Fossil</p>
        <div class="row">
            <div class="gray-box">
                {% if "Bearsden Shark" in collection %}
                <img src="../static/sharkphoto.png" alt="">
                {% else %}
                <img src="../static/questionmark.png" alt="">
                {% endif %}
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
            <div class="gray-box">
                <img src="../static/questionmark.png" alt="">
            </div>
        </div>
    </div>

    <a href="/home" class="floating-btn">
        <img src="../static/homelogo.png" alt="Home">
    </a>

    <!-- <script src="./app.js"></script> -->
</body>

</html>