<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no">
  <title>Question {{ artifact.questionNum }}</title>
  <link rel="stylesheet" href="/static/question.css" />
  <link rel="stylesheet" href="/static/floatingBtn.css" />
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // on ready
  });


  function userChoice(btn) {
    var artifactObj = JSON.parse('{{ artifact | tojson | safe }}');
    var correctAns = artifactObj.questions[artifactObj.questionNum - 1].answer.correct;
    var feedbackDiv = document.getElementById('feedback');
    if (correctAns === btn.value) {
      var form = document.createElement('form');
      var newQuestionNum = Number(artifactObj.questionNum) + 1;
      form.action = '/question/' + newQuestionNum;
      form.method = 'GET';

      document.body.appendChild(form);
      form.submit();
    } else {
      btn.style.backgroundColor = "red";
      feedbackDiv.innerHTML = "Please try again :("; // Display the feedback message
    }
  }

  function showHint() {
    var popup = document.getElementById('hintPopup');
    popup.style.display = 'block';
    var artifactObj = JSON.parse('{{ artifact | tojson | safe }}');
    var locationHint = artifactObj.hint;
    var hintMessage = document.getElementById('hintMessage');
    hintMessage.textContent = `Hint: The artifact is located in ${locationHint}.`;
  }
  function hideHintPopup() {
    var popup = document.getElementById('hintPopup');
    popup.style.display = 'none';
  }

</script>

</head>

<body>
    <div class = "questionNum">{{ artifact.questionNum }}/3</div>

    <div class = "question">{{ artifact.questions[artifact.questionNum-1].question }}</div>

    <div class = "image">
        <img src="{{ url_for('static', filename=artifact.img) }}" alt="{{ artifact.name }}">
    </div>

    <div class="button-container">
      {% for ans in artifact.questions[artifact.questionNum-1].answer.all %}
        <button class = "button" value="{{ ans }}" onclick="userChoice(this)">{{ ans }}</button>
      {% endfor %}
    </div>

    <div id="hintPopup" class="hint-popup">
        <div class="hint-content">
          <span onclick="hideHintPopup()" class="close-button">&times;</span>
          <p id="hintMessage"></p>
        </div>
    </div>
    <div id="feedback" class="feedback"></div>

    <div id="hintButton" onclick="showHint()">
        <img src="../static/light_bulb_logo.png" alt="Hint">
    </div>

    <a href="/home" class="floating-btn">
      <img src="../static/homelogo.png" alt="Home">
    </a>
</body>

</html>