<html>

<head>
    <title>
        Today Basket
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind/output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/today-basket.css') }}">
    <script src="https://cdn.jsdelivr.net/gh/peterhry/CircleType@2.3.1/dist/circletype.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="flex justify-center items-center">
        <img src="{{ url_for('static', filename='today-basket-banner.png') }}" alt="1" class="w-full h-full">


    </div>

    <div>

    </div>

    <div class="flex justify-center items-center">
        <div class="inline-block">
            <button class="text-white text-base font-extrabold"
                style="border-radius: 100px; background-color: #DCB21F; padding: 20px; text-shadow: 3px 5px 2px #00000011;">Log
                In To
                Keep Your
                Collectibles</button>
            <div class="mt-0.5 flex justify-center items-center">

                <button class="text-white text-base font-extrabold mt-10"
                    style="border-radius: 100px; background-color: #DCB21F; padding: 20px; text-shadow: 3px 5px 2px #00000011;">
                    Next Round</button>
            </div>
        </div>

    </div>

</body>

</html>